nav {
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  padding: 1rem 2rem;
  background: var(--bg0);
  color: var(--fg0);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.nav-inner-wrapper {
  display: flex;
  min-width: 60rem;
  justify-content: space-between;
  align-items: center;
}


nav button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #000000;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}
