.trip-page-container {
  background-color: var(--bg0);
  color: var(--fg0);
  min-height: 100vh;
  padding: 6rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-join-date {
  color: gray;
  font-style: italic;
}

.trip-content-container {
  display: flex;
  flex-direction: column;
  min-width: 60rem;
  max-width: 60rem;
}

.trip-content-container h1 {
  padding-bottom: 3rem;
  font-size: 4rem;
  /* align-self: center; */
}

.trip-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trip-section-container h2 {
  padding-bottom: 1rem;
}
