.trip-page-container {
  background-color: var(--bg0);
  color: var(--fg0);
  min-height: 100vh;
  padding: 6rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-join-date {
  color: gray;
  font-style: italic;
}

.trip-content-container {
  display: flex;
  flex-direction: column;
  min-width: 60rem;
  max-width: 60rem;
  row-gap: 1rem;
}

.trip-content-container h1 {
  font-size: 4rem;
  /* align-self: center; */
}
.trip-content-container h1 span{
  padding-right: 0.5rem;  
}
.trip-content-container h1 svg{
  cursor:pointer;
}

.trip-actions {
  padding-bottom: 1rem;
}

.trip-id {
  padding-bottom: 0.5rem;
}

/* .trip-actions button { */
/*   padding: 0.5rem 1rem; */
/*   border-radius: 0.5rem; */
/* } */

.add-transaction-btn {
  margin-top: 1rem;
  background-color: #3E5F42;
  color: #E1E1E1;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.add-transaction-btn:hover {
  opacity: 0.85;
}

.trip-body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trip-section-container h2 {
  padding-bottom: 1rem;
}


.new-transaction-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(4px);
  display: grid;
  place-items: center;
}

.new-transaction-form {
  background: #202020;
  border-radius: 1rem;
  padding: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: solid var(--input-border) 2px;
  min-width: 30rem;
  max-width: 50rem;
}

.new-transaction-form h2 {
  font-weight: 500;
}

.new-transaction-label-input {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

/* .new-transaction-label-input label { */
  /* font-size: 0.95rem; */
/* } */

.new-transaction-label-input input, select {
  background: var(--input-bg2);
  color: var(--input-fg);
  border: solid var(--input-border2) 1px;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
}

.new-transaction-label-input input:focus {
  outline: solid var(--input-fg) 1px;
}

.new-transaction-back {
  cursor: pointer;
  font-size: 1.5rem;
}

.new-transaction-amount-input-container {
  position: relative;
}

.new-transaction-amount-input-container input{
  width: 100%;
}

.new-transaction-currency {
  position: absolute;
  right: 0.6rem;
  top: 0.4rem;
  background: var(--input-bg2);
  padding-left: 0.6rem;
}

.new-transaction-form button {
  margin-top: 0;
}
